header{
    color:aqua;
    text-align: justify;
}
section{
    color:brown;
    text-align:center;
    background-color: darkgray;
}
footer{
    color: chocolate;
    text-align: left;
    background-image: url(../boku.jpg);
}