body{
    background-color: chocolate; color: blueviolet;
}
h1 {
    font-family: Arial; font-style: oblique;
}
h2 
{font-family: 'Times New Roman';}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}